body {
    margin:0;
font-family: Arial, Helvetica, sans-serif;
 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: violet;
}

div{
    padding:20px;
    margin-top:30px;
    background-color:white;
    height:1500px;
    animation: bounce .5s alternate ;
}

img{
   display: block;
  margin-left: auto;
  margin-right: auto;
    margin-top: 30px;
    
   
  
}

h1{ 
   text-align: center;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

p{
    text-align: center;
    margin-left: 120px;
    margin-right: 119px;
}

form{
    position:absolute;
   top:40%;
   left:55%;

   margin-left:-150px; /* -largeur/2 */
   margin-top:-100px; /* -hauteur/2 */
  
}

video{
     display: block;
  margin-left: auto;
  margin-right: auto;
    margin-top: 30px;
    
}

  



@keyframes bounce {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}



